# Ignore environment variables
.env

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore database files
data/wallets.db

# Ignore logs
*.log

# Ignore system-specific files
.DS_Store
Thumbs.db
